name: ci

on: [push, pull_request, workflow_dispatch]
jobs:
    test-and-coverage:
        strategy:
          matrix:
            python-version: ['2.7','3.5','3.14']
        container:
          image: python:${{ matrix.python-version }}
        runs-on: ubuntu-slim
        steps:
            - name: checkout repo content
              uses: actions/checkout@v6

            - name: Test
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install pytest pytest-cov
                  python -m pytest --cov

            - name: Coveralls
              if: matrix.python-version == '3.14'
              uses: coverallsapp/github-action@v2
